<div class="jumbotron center" >
	<h1>Bienvenido a Maipo Grande</h1>
	<% if user_signed_in? %>
		#hacer algo
	<% else %>
		<p>
			<%= link_to "Regístrate", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
		</p>		
	<% end %>
</div>

